<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows All the Data</title>
    <style>
        tr, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>email</th>
            <th>username</th>
        </tr>
            <% for(user of users){ %>
                <tr>
                <td><%= user.id  %></td>
                <td><%=user.email%></td>
                <td><%=user.username%></td>
                <td>
                <form method="get" action="/user/<%=user.id%>/edit">
                    <button>Edit Username</button>
                </form>
                 </td>
                 <td>
                    <form method="get" action="/user/<%=user.id%>/Delete">
                        <button>Delete</button>
                    </form>
                 </td>
            </tr>
            <% }%>
    </table>

    <h3>Add a new user</h3>
    <a href="/user/new">Click here to add a new user</a>
    <br>
</body>
</html>






